* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
}

p,
ul {
    margin-bottom: 0;
}

img {
    width: 100%;
}

/* ======================================================HEADER_START================================================== */
.header {
    height: 986px;
}

.header-content {
    background: url(../images/header-bg.jpg)no-repeat center /cover;
}

.menu {
    padding: 53px 0;
}

.logo {
    text-transform: uppercase;
    font-family: 'roboto';
    font-weight: 900;
    color: rgba(1, 21, 85, 0.7);
    font-size: 40px;
    line-height: 28px;

}

.burger-menu {
    font-size: 25px;
    color: #746f77;
}

.logo:hover {
    color: rgba(1, 21, 85, 0.7);
}

.header-content_title {
    font-family: 'roboto';
    font-weight: 100;
    font-size: 50px;
    color: #626262;
    text-align: center;
    margin-bottom: 22px;
}

.header-content_title span {
    font-family: 'roboto';
    font-weight: 700;
    color: #011555;

}
.header-content_description{
    font-family: 'roboto';
    font-weight: 300;
    color: #000000;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 107px;
    text-align: center;

}
.header-content form{
    background: #fff;
    padding: 33px 40px 13px;
    max-width: 376px;
    width: 100%;
    margin: 0 auto;
}
.header-content form h3{
    font-family: 'roboto';
    font-weight: 400;
    font-size: 20px;
    color: rgba(1, 21, 86, 0.9);
    text-align: center;
    margin-bottom: 42px;
}

.header-content form input,
.header-content form textarea{
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #c7c7c7;
    padding: 10px 5px;
    resize: none;
}
.header-content form textarea{
    height: 93px;
}
.header-content form input:focus,
.header-content form textarea:focus{
    box-shadow: none;
}
.header-content form button{
    border-radius: 27px;
    background: #011556;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 16px;
    color: white;
    line-height: 11px;
    padding: 20px 23px 18px;
    margin: 0 auto;
    display: block;
    display: flex;
    align-items: center;
    
}
.header-content form button i{
    line-height: 11px;
    margin-left: 5px;
}
.header-content form button:hover{
    color: white;
}
/* ======================================================HEADER_END==================================================== */
/* ======================================================MAIN_START==================================================== */
.tours{
    padding: 70px 0;
}
.tours_title{
    font-family: 'roboto';
    font-weight: 900;
    font-size: 50px;
    color: rgba(1, 21, 86, 0.8);
    margin-bottom: 100px;
}
.tours_box a:nth-child(2){
    font-family: 'roboto';
    font-weight: bold;
    color: #011556;
    font-size: 36px;
    border-bottom: 3px solid #011556;
}
.asd{
    margin-top: -5px;
}
.sights{
    background: #fbfbfb;
    padding: 70px 0;
}
.sights_title{
    font-family: 'roboto';
    font-weight: 900;
    font-size: 50px;
    color: rgba(1, 21, 86, 0.8);
    margin-bottom: 60px;
    
}
.sights_description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-family: 'roboto';
    font-weight: 500;
    margin-bottom: 100px;
    
}
.sights_box{
    position: relative;
    margin-bottom: 25px;
}
.sights_box_position{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(204, 210, 230, 0.71);
    /* opacity: 0; */
    transition: 0.5s;
    /* transform: scalex(0); */
    bottom: 100%;
    overflow: hidden;
}
.position_description{
    max-width: 207px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

}
.sights_box:hover .sights_box_position{
    /* opacity: 1;
    transform: scalex(1); */
    bottom: 0;
}
.position_title{
    font-family: 'roboto';
    font-weight: 400;
    font-size: 30px;
    color: #011556;
    text-transform: capitalize;

}
.position_description{
    font-family: 'roboto';
    font-weight: 400;
    font-size: 14px;
    color: #011556;
    line-height: 24px;
}
.position_link{
    padding: 17px 43px 16px 46px;
    border-radius: 24px;
    background: #011556;
    font-family: 'roboto';
    font-weight: 400;
    font-size: 17px;
    color: white;
    line-height: 9px;
    text-transform: capitalize;
}

.documents{
    padding: 70px 0;
}

.documents_title{
    font-family: 'roboto';
    font-weight: 900;
    font-size: 50px;
    color: rgba(1, 21, 86, 0.8);
    margin-bottom: 60px;
}
.documents_description{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #000;    
}
.documents ul li {
    font-family: 'roboto';
    font-weight: 400;
    font-size: 20px;
    color: #000; 
    margin-top: 30px;
}
.documents ul li span{
    margin-right: 20px;
}
.documents_info{
    font-family: 'roboto';
    font-weight: 400;
    font-size: 20px;
    color: #000; 
    line-height: 50px;
}

.price{
    padding: 70px 0;
    background: #fbfbfb;

}
.price_title{
    font-family: 'roboto';
    font-weight: 900;
    font-size: 50px;
    color: rgba(1, 21, 86, 0.8);
    margin-bottom: 45px;
}
.price_description{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.50);  
    margin-bottom: 100px;
}
.price_item{
    background: #fff;
    padding: 11px 9px 30px;
    bottom: -28px;
    width: 70%;
    box-shadow: 6px 0 16px rgba(20, 20, 21, 0.15);
}
.price_box{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.price-item_description{
    font-family: 'roboto';
    font-weight: 500;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 20px;
    margin-bottom: 12px;
}
.price-item_price{
    font-family: 'roboto';
    font-weight: 500;
    color: rgba(1, 21, 86, 0.7);
    font-size: 24px;
    line-height: 24px;
}
.reviews{
    padding: 70px 0;
}
.reviews_box{
    box-shadow: 0 0 27px rgba(20, 20, 21, 0.09);
    margin-bottom: 60px;
    position: relative;
    padding: 100px 38px 20px;
}
.reviews-box_image{
    position: absolute;
    top: -43px;
}
.review-box_icons{
    color: #ffef3b;
    font-size: 13px;
}
.reviews-box_description{
    font-family: 'roboto';
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 15px;
}
.reviews_title{
    font-family: 'roboto';
    font-weight: 900;
    font-size: 50px;
    color: rgba(1, 21, 86, 0.8);
    margin-bottom: 45px;
    text-align: center;
}
.reviews_description{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.50);  
    margin-bottom: 100px;
}
.reviews-box_title{
    font-family: 'roboto';
    font-weight: 500;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 11px;
}
/* ======================================================MAIN_END==================================================== */
.travel_footer{
    padding: 70px 0 55px;
    background: #f7f7f7;
}
.button_contact{
    padding: 22px 87px;
    background: #011556;
    border-radius: 27px;
    color: white;
    font-size: 16px;
    font-family: 'roboto';
    font-weight: 400;
    line-height: 8px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: inline-block;
}
.button_contact:hover{
    text-decoration: none;
    color: white;
}

.facebook,
.twitter,
.ball{
    padding: 20px;
    border-radius: 50%;
    background: #d3d3d3;
    color: white;
    
}
.facebook:hover,
.twitter:hover,
.ball:hover{
    text-decoration: none;
    color: white;
    background: #011556;
}
.footer_text{
    font-family: 'roboto';
    font-weight: 400;
    font-size: 17px;
    color: rgba(4, 4, 4, 0.6);
}
